$color-accent: #525380

$font-museo: 'Museo Moderno', sans-serif
$font-raleway: 'Raleway', sans-serif
$heading-font-family: $font-raleway
$body-font-family: $heading-font-family
$h1-font-family: $font-museo
$h1-weight: normal

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 40px
$header-logo-height-desktop: 50px
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: 90px
$footer-logo-height-desktop: 90px