h1
    color: $color-red
.block-pages
    .grid,
    .list
        article
            .media
                img
                    aspect-ratio: 1
.pages__section
    .hero
        .container
            .content
                border-radius: 30px
                padding: var(--grid-gutter)
                align-items: center
                .hero-text
                    width: columns(7)
                .is-png
                    width: columns(3)
    .document-content
        h2
            border-bottom: $body-color 1px solid
            line-height: $lead-line-height


.page-homepage
    .hero
        background-color: $color-orange-light
        border-radius: 0px 0px 60px 60px
        p
            color: $color-red 
    .document-content
        .blocks
           .page
                picture
                    width: columns(1)
    .cards article
        border-radius: 20px
        min-height: var(--grid-gutter)
    @include media-breakpoint-up(desktop)
        .block-class-blocks-cards-publics
            border-radius: 30px
            margin-left: var(--grid-gutter)
            margin-right: var(--grid-gutter)
            .container
                padding-left: columns(1)
                padding-right: columns(1)

.page-ess-quoi
    .content
        background-color: $color-blue-light
        h1
            color: $color-blue
        p
            color: $color-blue
    

.page-qui
    .hero
        .container
            .content
                border-radius: 30px
                padding: var(--grid-gutter)
                align-items: center
                background-color: $color-orange-light
                h1
                    color: $color-red
                p
                    color: $color-red
                .hero-text
                    width: columns(7)
                .is-png
                    width: columns(3)

    .avatar
        background-color: white
    .organization
        .media
            background-color: white
    .block-pages
            .is-png
                width: columns(2)

.page-missions
    .content
        background-color: $color-red-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        h1
            color: $color-red
        p
            color: $color-red
        .is-png
            width: columns(2)
        figure
            display: inline

    .block-pages--cards
        border-radius: 30px
        margin: var(--grid-gutter)
    .card
        border-radius: 20px
        min-height: var(--grid-gutter)
        picture
            width: columns(2)
        img
            height: columns(2)
            margin-left: $grid-gutter
            margin-top: $grid-gutter

.page-actus
    .content
        background-color: $color-orange-light
        border-radius: 30px
        .hero-text
            h1
                color: $color-red
            p
                color: $color-red
    .block-links
        .links
            li
                border-radius: 20px
    .events
        .media
            width: columns(4)

        picture
            display: flex
            height: columns(2)

.page-adherer
    .content
        background-color: $color-blue-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        .is-png
            width: columns(2)
        .hero-text
            h1
                color: $color-blue
            p
                color: $color-blue
    .block-chapter--accent_background
        background: $color-red
        margin: var(--grid-gutter)
        border-radius: 30px
        ul
            list-style-type: "→"
            li
    .block-links
        li
            border-radius: 20px

.footer-contents
    background-color:  $color-red
    padding: var(--grid-gutter)
    color: white
    border-radius : 50px 50px 0px 0px
    a
        color: white
        font-weight: bold
        font-style: italic

.organizations__page
    .hero
        min-height: 200px
        .hero-text
            h1
                color: $color-blue
            p
                color: $color-blue
            padding: var(--grid-gutter)
            border: dashed $color-blue 2px
            border-radius: 90px

    .document-content [itemprop="articleBody"] + .organization-logo picture
        background-color: white

.page-public
  .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        h1
            color: $color-red
        p
            color: $color-red
        .is-png
            padding: var(--grid-gutter)
        figure
            display: inline

.page-articles
  .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: var(--grid-gutter)
        h1
            color: $color-red
        p
            color: $color-red
        .image-square
            width: columns(2)

.posts__page
    .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: var(--grid-gutter)
        h1
            color: $color-red
        p
            color: $color-red
    .is-png
        margin-top: var(--grid-gutter)

.menu
    li:hover
        a
            font-weight: bold

.block-call_to_action
    @include media-breakpoint-up(desktop)
        border-radius: 30px
        margin-left: var(--grid-gutter)
        margin-right: var(--grid-gutter)
        margin-bottom: var(--grid-gutter)
        .container
            .block-content
                padding-left: columns(1) !important
                padding-right: columns(1) !important

.events__page
    .content
        background-color: $color-blue-light
        padding: columns(1) !important
        border-radius: 20px
        .is-png
            width: columns(5)
        h1
            color: $color-blue
            span
                color: $color-blue
                font-family: $font-raleway
                font-size: 0.7em
                line-height: 1.3em
                color: $color-red
    .block-links li
        border-radius: 30px
        width: columns(3) !important

.block-chapter--accent_background
    .chapter 
        border-radius: 20px
    
    .hero-text
        background-color: $color-blue-light
        padding: var(--grid-gutter)
        border-radius: 30px

.posts__page
    .chapter
        border-radius: 20px
    .hero 
        .content
        h1
            span
                font-family: $font-raleway
                font-size: 0.7em
                line-height: 1.3em
                color: $color-blue
        