h1
    color: $color-red
.block-pages
    .grid,
    .list
        article
            .media
                img
                    aspect-ratio: 1
.page-homepage
    .hero
        background-color: $color-orange-light
        border-radius: 0px 0px 60px 60px
        p
            color: $color-red 
        margin-bottom: 4em
    .document-content
        .blocks
           .page
                picture
                    width: 100px
    .cards article
        border-radius: 20px
        min-height: 200px
    .block-class-blocks-cards-publics
        margin: 3em
        border-radius: 30px

                    
.page-ess-quoi
    .content
        background-color: $color-blue-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        .is-png
            width: 12em
        h1
            color: $color-blue
        p
            color: $color-blue
    .block-chapter--accent_background
        .chapter 
                border-radius: 20px


.page-qui
    .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        h1
            color: $color-red
        p
            color: $color-red
        .is-png
            width: 12em
    .block-chapter--accent_background
        .chapter 
                border-radius: 20px
    .avatar
        background-color: white
    .organization
        .media
            background-color: white
    .block-pages
            .is-png
                width: 30%

.page-missions
    .content
        background-color: $color-red-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        h1
            color: $color-red
        p
            color: $color-red
        .is-png
            width: 12em
        figure
            display: inline

    .block-pages--cards
        border-radius: 30px
        margin: 2em
    .card
        border-radius: 20px
        min-height: 260px
        picture
            width: 100px
        img
            height: 4em
            margin: 1em 0em 0em 1em

.page-actus
    .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        .is-png
            width: 12em
        .hero-text
            h1
                color: $color-red
            p
                color: $color-red
    .block-links
        .links
            li
                border-radius: 20px

.page-adherer
    .content
        background-color: $color-blue-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        .is-png
            width: 12em
        .hero-text
            h1
                color: $color-blue
            p
                color: $color-blue
    .block-chapter--accent_background
        background: $color-red
        margin: 0em 3em 0em 3em
        border-radius: 30px
        ul
            list-style-type: "→"
            li
                padding-left: 1em
                padding-bottom: 1em
    .block-links
        li
            border-radius: 20px

footer
    border-radius: 50px 50px 0px 0px
    margin-top: 60px

.organizations__page
    .hero
        min-height: 200px
        .hero-text
            h1
                color: $color-blue
            p
                color: $color-blue
            padding: 1em
            border: dashed $color-blue 2px
            border-radius: 30px

    .document-content [itemprop="articleBody"] + .organization-logo picture
        background-color: white

.page-public
  .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        h1
            color: $color-red
        p
            color: $color-red
        .is-png
            padding: 3em
        figure
            display: inline

.page-articles
  .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        h1
            color: $color-red
        p
            color: $color-red

.posts__page
    .content
        background-color: $color-orange-light
        border-radius: 30px
        padding: 20px 50px 20px 50px
        margin-top: 1em
        h1
            color: $color-red
        p
            color: $color-red
    .is-png
        margin-top: 1em

.menu

    li:hover
        a
            font-weight: bold

.block-call_to_action
    margin: 3em
    border-radius: 30px

.events__page
    .content
        min-height: 100px
        h1
            color: $color-blue
            margin-bottom: 1em
            span
                border-top: dashed $color-blue 2.5px
                padding-top: 2em
                color: $color-blue
                font-family: Raleway
                font-size: 0.7em
                line-height: 1.3em
                color: $color-red
                